VITE_SUPABASE_URL=https://ishdgjhvgqsafottnuvs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlzaGRnamh2Z3FzYWZvdHRudXZzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4NjkzNzIsImV4cCI6MjA4NzQ0NTM3Mn0.V8DgBuiXZDjqLrz7DjlOvnaTjJ5djgXwwoMPfgXOIjs
